
/*Colors*/
$primary-color: black;
$secondary-color: silver;
$error-color: rgba(239, 60, 87, 0.986);
$success-color:#4aed6b;


/*Font sizes*/
$font-size-md: 0.8rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.4rem;
$font-size-xxl: 2.11rem;
